body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
    margin: 0;
}

.calendar {
    width: 650px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weekdays, days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days div {
    padding: 10px;
    margin: 2px;
    min-height: 60px;
    font-size: 16px;
    background: #f5f5f5;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.today {
    background: #4285F4 !important;
    color: #fff;
}